
<div class="container">
  <div class="header">

    <!--BANNER AREA-->
    
    <div class="header__banner" [ngStyle]="{
          'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
          }">
      <h2>{{trending?.results[5].title}}</h2>
      <div class="header__buttons">

        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>

      </div>


    </div>
    <!--BANNER ENDS HERE-->


    <!--MAIN AREA-->
    <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
      <div class="header__left">
        <a routerLink="/">
          <img src="assets/net.svg" alt="logo">
        </a>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">TV Shows</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Latest</a></li>
          <li><a href="#">My List</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li><a href="#">
              <mat-icon>search</mat-icon>
            </a></li>
          <li><a href="#">Children</a></li>
          <li><a href="#">
              <mat-icon>card_giftcard</mat-icon>
            </a></li>
          <li><a href="#">
              <mat-icon>notifications</mat-icon>
            </a></li>
          <li>
              <img src="assets/manish.jpeg" alt="avatars" height="20px">
          </li>
        </ul>
      </div>
    </div>
    <!--HEADER MAIN ENDS HERE-->


  </div>
  <div class="body" style="margin-top: 30rem;">
    <app-slidebar title="Trending" [movies]="trending" [sliderConfig]="sliderConfig"></app-slidebar>
    <app-slidebar title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig"></app-slidebar>
    <app-slidebar title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slidebar>
    <app-slidebar title="Originals" [movies]="originals" [sliderConfig]="sliderConfig"></app-slidebar>
    <app-slidebar title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-slidebar>
    <app-sliderbar title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-sliderbar>


    <!-- <div class="body" style="margin-top: 30rem;">
      <app-sliderbar title="Trending" [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
      <app-sliderbar title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
      <app-sliderbar title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
      <app-sliderbar title="Originals" [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
      <app-sliderbar title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
    </div> -->
  </div>
</div>